:root {
    --black: #241929;
    --red: #dd1440;
    --white: #e5e6e1;
    --gray: #5a4864;
    --pink: #f696b3;
    --maroon: #840b2a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--maroon);
    font-family: "League Gothic", sans-serif;
    align-items: center;
    justify-content: center;
    gap: 550px;
    position: fixed;
    width: 100%;
}

.title-nav {
    color: var(--maroon);
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    -webkit-text-stroke: 0.5px var(--pink);
}

.user {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    padding: 5px 7.5px;
    gap: 20px;
    line-height: normal;
    font-size: 0.75rem;
    align-items: center;
    color: var(--maroon);
    border-radius: 20px;
    font-size: 1rem;
}

.home {
    padding: 100px 30px;
}

.header {
    margin-top: 10px;
    justify-self: center;
    justify-items: center;
}
.header h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    color: var(--white);
    text-shadow: 4px 4px 0px var(--gray);
}
.header h6 {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: var(--black);
    width: 150px;
    height: 20px;
    background-color: var(--maroon);
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-self: center;
    margin-top: 75px;
}

.group {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 250px;
    box-shadow: 0px 0px 0px 2px var(--gray);
    border-radius: 20px;
}
.title {
    text-align: center;
    background-color: var(--pink);
    color: var(--black);
    padding: 4px 20px;
    border-radius: 40px;
    font-family: "Akt", sans-serif;
    font-weight: 800;
    margin-top: -15px;
}

.main1 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 30px;
}
.main2 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 30px;
    align-items: center;
}
.main3 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 30px;
    align-items: center;
}

.card img {
    width: 122.5px;
    height: 200px;
    border-radius: 10px;
}
.button-v {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.button-h {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
button {
    height: 35px;
    width: 100px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 18px;
    -webkit-text-stroke: 0.35px;
    font-family: "Amatic SC", sans-serif;
    border: none;
    outline: none;
}
button:hover {
    scale: 1.2;
    transition: 0.2s;
}

.main1 .button-v .color {
    color: var(--maroon);
    box-shadow: 0px 0px 0px 1px var(--pink);
    background-color: var(--pink);
}
.main1 .button-v .no-color {
    color: var(--red);
    box-shadow: 0px 0px 0px 1px var(--red);
    background-color: var(--black);
}

.main2 p {
    color: var(--gray);
    width: 300px;
    height: 50px;
    background-color: var(--white);
    text-align: center;
    align-content: center;
    border-radius: 20px;
}
.main2 .button-h .after {
    color: var(--red);
    box-shadow: 0px 0px 0px 1px var(--red);
    background-color: var(--black);
}
.main2 .button-h .before {
    color: var(--maroon);
    box-shadow: 0px 0px 0px 1px var(--pink);
    background-color: var(--pink);
}

.main3 p {
    color: var(--black);
    width: 300px;
    height: 50px;
    background-color: var(--white);
    text-align: center;
    align-content: center;
    border-radius: 20px;
}
.main3 .button-h .pink {
    color: var(--maroon);
    box-shadow: 0px 0px 0px 1px var(--pink);
    background-color: var(--pink);
}
.main3 .button-h .red {
    color: var(--white);
    box-shadow: 0px 0px 0px 1px var(--red);
    background-color: var(--red);
}
.main3 .button-h .black {
    color: var(--gray);
    box-shadow: 0px 0px 0px 1px var(--white);
    background-color: var(--white);
}